---
import Section from "./Section.astro"
import Container from "./Container.astro"
---
<Container id="about">
    <Section classes="flex-col">
        <h2 class="text-xl">Sobre mí</h2>
        <article class="flex md:justify-between max-sm:gap-4 max-sm:py-4 items-center h-5/6 w-11/12 gap-2 max-sm:flex-col max-sm:justify-center">
            <img src="./profileC.webp" alt="Cristhian David Tapiero Padilla" class="rounded-full mr-6 size-64 max-md:size-32">
            <div class="text-balance max-sm:text-sm">
                <h2 class="text-xl font-semibold max-sm:text-lg mb-2"><span class="text-brand-yellow">¿</span>Quien soy<span class="text-brand-yellow">?</span></h2>
                <p>
                    Tengo <span class="text-brand-purple font-semibold">19 años</span>, y me inicié en el mundo de la programación a los 15 años con <span class="text-brand-yellow font-semibold">Java</span>, desde entonces <span class="text-brand-purple font-semibold">he aprendido</span> varios lenguajes de programación, como <span class="text-brand-yellow font-semibold">Python, JavaScript, Dart, entre otros</span>.
                </p>
                <p> 
                    He tenido la oportunidad de trabajar en el sector de <span class="text-brand-purple font-semibold">atención al cliente</span> y gracias a esto he desarrollado buenas <span class="text-brand-yellow font-semibold">habilidades comunicativas y de trabajo en equipo</span>.
                </p>
            </div>
        </article>
    </Section>
</Container>