---
import Section from "./Section.astro"
import Container from "./Container.astro"
---
<Container id="about">
    <Section classes="flex-col">
        <h2 class="text-xl">Sobre mí</h2>
        <article class="flex lg:justify-between max-md:gap-4 max-md:py-4 items-center h-5/6 w-11/12 gap-2 max-md:flex-col max-md:justify-center">
            <img src="./profileC.webp" alt="Cristhian David Tapiero Padilla" class="rounded-2xl mr-6 size-64 max-md:size-32 personal-shadow-sm border-2 border-personal-black" loading="lazy">
            <div class="text-balance text-sm max-w-4xl">
                <h2 class="text-xl font-semibold max-sm:text-lg mb-2">¿Quien es Cristhian Tapiero?</h2>
                <p>
                    Soy un joven de 20 años, apasionado por la tecnología y la programación. Actualmente estudio Ingeniería de 
                    Sistemas en la Universidad Libre de Colombia, y me encanta aprender constantemente y compartir mis conocimientos 
                    con los demás.
                    <br>
                    He aplicado mis habilidades en el campo de la ingeniería de sistemas en el proyecto Talento Tech, liderado por el 
                    Ministerio de las TIC en Colombia, trabajando específicamente para la alianza temporal Libret. En este proyecto, 
                    he adquirido valiosa experiencia en el desarrollo y la arquitectura de la nube, lo que me ha permitido fortalecer 
                    mis competencias técnicas. Además, he tenido la oportunidad de poner en práctica mis habilidades pedagógicas, 
                    enseñando a personas con pocos o nulos conocimientos en programación y en el uso de herramientas tecnológicas. 
                    Esta experiencia también me ha permitido mejorar mis habilidades blandas, como la comunicación y el trabajo en equipo.
                </p>
            </div>
        </article>
    </Section>
</Container>