---
import Section from "./Section.astro"
import Container from "./Container.astro"
---
<Container id="about">
    <Section classes="flex-col">
        <h2 class="text-xl">Sobre mí</h2>
        <article class="flex md:justify-between max-sm:gap-4 max-sm:py-4 items-center h-5/6 w-11/12 gap-2 max-sm:flex-col">
            <img src="./profileC.webp" alt="Cristhian David Tapiero Padilla" class="rounded-full mr-6 size-64 max-md:size-32">
            <div class="text-balance max-sm:text-sm">
                <h2 class="text-xl font-semibold max-sm:text-lg">Quien soy?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita consequatur tempore reiciendis earum blanditiis iste, sint ea. Obcaecati quos eos est laboriosam in, optio voluptatem atque excepturi molestias fugiat.
                </p>
            </div>
        </article>
    </Section>
</Container>