---
import { Icon } from 'astro-icon/components'
---
<a aria-label="inicio" href="#inicio" class="fixed bottom-4 right-4 size-12 flex justify-center items-center bg-brand-gray rounded-xl xl:right-10 xl:bottom-6 transition-colors">
    <Icon name="gravity-ui:house" class='p-3 w-full h-full hover:bg-brand-white/10 rounded-xl'/>
</a>