---
import { Icon } from "astro-icon/components"

const social = [
    {
        name: 'Instagram',
        url: 'https://www.instagram.com/tapieropadilla/',
        icon: "instagram"
    },
    {
        name: 'X',
        url: 'https://twitter.com/tapiero_padilla',
        icon: "x"
    },{
        name: 'Linkedin',
        url: 'https://www.linkedin.com/in/cristhian-tapiero-padilla/',
        icon: "linkedin"
    }
]
---

<div class="absolute bottom-0 left-0 flex items-center justify-evenly h-16 w-full px-4 py-2 bg-personal-white text-personal-black border-t-personal-black border-2">
    <p class="text-base max-sm:text-xs">&copy; Hecho por Cristhian David Tapiero Padilla</p>
    <div class="flex gap-x-2 justify-center items-center">
        Sigueme en:
        {
            social.map(item => (
                    <a href={item.url} class="flex cursor-pointer"><Icon name={`simple-icons:${item.icon}`} class='size-5' /></a>
                )
            )
        }
    </div>
</div>