<header 
class="flex justify-center items-center self-center w-[calc(100%-2rem)] py-2 z-20 sticky top-1"
>
    <nav 
    class="border border-brand-purple rounded-full max-sm:w-full max-sm:h-8 max-sm:justify-evenly py-1 px-3 flex flex-row items-center bg-brand-gray backdrop-blur-xl"
    >
        <a href="#proyectos" aria-label="proyectos" class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base">Proyectos</a>
        <a href="#estudios" aria-label="estudios" class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base">Estudios</a>
        <a href="#about" aria-label="sobre mí" class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base">Sobre mí</a>
    </nav>
</header>