---
import Container from "./Container.astro"
import Section from "./Section.astro"
import Badge from "./Badge.astro"
import { Icon } from 'astro-icon/components'
---


<Container id="inicio">
    <Section classes="justify-center md:items-center gap-x-4 max-md:flex-col">
        <article class="p-2">
            <img
                src="../profileC.webp"
                alt="Cristhian Tapiero"
                class="size-44 max-sm:size-36 min-w-36 min-h-36 rounded-xl personal-shadow"
                loading="lazy"
            />
        </article>
        <article>
            <h1 class="text-4xl font-bold mb-4 tracking-tight max-w-[700px] text-balance">
                Cristhian David Tapiero Padilla
            </h1>
            <div class="flex flex-row items-center gap-x-6 max-sm:gap-x-2 my-3">
                <Badge link="https://www.linkedin.com/in/cristhian-tapiero/" ariaLabel="Ir a mi LinkedIn">
                    <Icon name="simple-icons:linkedin" />
                    <h2>LinkedIn</h2>
                </Badge>
                <Badge link="https://github.com/CristhianTapiero" ariaLabel="Ir a mi perfil de GitHub">
                    <Icon name='simple-icons:github' class='text-personal-black'/>
                    <h2>GitHub</h2>
                </Badge>
            </div>
            <h2 class="max-w-[55ch] text-balance">
                Desarrollador Frontend de
                <span class="underline underline-offset-2">
                    Bogotá, Colombia
                </span>
                .
                <span class="underline underline-offset-2">
                    6 meses
                </span>
                de experiencia laboral como ingeniero de sistemas.
                <span class="underline underline-offset-2">
                    Ingles B2+
                </span>
                y
                <span class="underline underline-offset-2">
                    Español nativo
                </span>. Actualmente estudiando
                <span class="underline underline-offset-2">
                    Ingeniería de Sistemas
                </span>.
            </h2>
        </article>
    </Section>
</Container>