---
import Container from "./Container.astro"
import Section from "./Section.astro"
import Carousel from "./Carousel.astro"
const TAGS = {
    NEXT: {
        lang: "Next.js",
        icon: "Next",
        class: "bg-brand-white text-black"
    },
    TAILWIND:{
        lang: "Tailwind CSS",
        icon: "Tailwind",
        class: "bg-[#003159] text-brand-white"
    },
    REACT:{
        lang: "React",
        icon: "React",
        class: "bg-[#003159] text-brand-white"
    },
    JAVASCRIPT:{
        lang: "JavaScript",
        icon: "JavaScript",
        class: "bg-brand-yellow/20 text-brand-white"
    },
    HTML:{
        lang: "HTML",
        icon: "HTML",
        class: "bg-orange-500/20 text-brand-white"
    },
    CSS:{
        lang: "CSS",
        icon: "CSS",
        class: "bg-[#003159] text-brand-white"
    },
    TYPESCRIPT:{
        lang: "TypeScript",
        icon: "TypeScript",
        class: "bg-[#003159] text-brand-white"
    },
    MYSQL:{
        lang: "MySQL",
        icon: "MYSQL",
        class: "bg-brand-white text-black"
    },
    JAVA:{
        lang: "Java",
        icon: "Java",
        class: "bg-brand-white text-black"
    },
    AWS:{
        lang: "AWS",
        icon: "Amazon",
        class: "bg-brand-white text-black"
    },
    GIT:{
        lang: "Git",
        icon: "Git",
        class: "bg-brand-white text-black"
    },
    CHAKRA:{
        lang: "Chakra UI",
        icon: "Chakra",
        class: "bg-brand-white text-black"
    },
    NODE:{
        lang: "Node.js",
        icon: "Node",
        class: "bg-brand-white text-black"
    },
    FIREBASE:{
        lang: "Firebase",
        icon: "Firebase",
        class: "bg-brand-white text-black"
    },
    FRAMER:{
        lang: "Framer Motion",
        icon: "Framer",
        class: "bg-brand-white text-black"
    },
    PLANETSCALE:{
        lang: "PlanetScale",
        icon: "PlanetScale",
        class: "bg-brand-white text-black"
    },
    PRISMA:{
        lang: "Prisma",
        icon: "Prisma",
        class: "bg-brand-white text-black"
    },
    SVELTE:{
        lang: "Svelte",
        icon: "Svelte",
        class: "bg-brand-white text-black"
    },
    VUE:{
        lang: "Vue",
        icon: "Vue",
        class: "bg-brand-white text-black"
    },
    ASTRO:{
        lang: "Astro",
        icon: "AstroIcon",
        class: "bg-brand-white text-black"
    },
    PYTHON:{
        lang: "Python",
        icon: "Python",
        class: "bg-brand-white text-black"
    },
    DART:{
        lang: "Dart",
        icon: "Dart",
        class: "bg-brand-white text-black"
    },
    FLUTTER:{
        lang: "Flutter",
        icon: "Flutter",
        class: "bg-brand-white text-black"
    }
}
const PROJECTS = [
    {
        title: "Weather Mobile App",
        github: 'https://github.com/CristhianTapiero/Weather_Mobile_App',
        tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.TYPESCRIPT,],
        image: "",
        description: "Aplicación del clima hecha con React Native y Expo, mediante la cual se evidencia el conocimiento en el uso de API's y el manejo de estados con fetch."
    }
]
---
<Container id="proyectos">
    <Section classes="flex-col gap-y-8">
        <h2 class="text-xl">Proyectos</h2>
        <Carousel ></Carousel>
    </Section>
</Container>
