<nav class="flex justify-evenly w-full px-6 py-2 backdrop-blur-md fixed top-0 z-50 h-fit">
    <a class="flex gap-x-2 items-center justify-center" href="#inicio">
        <img src="./martini.webp" alt="Cristhian's Logo" class="size-10">
        <h1>Cristhian Tapiero</h1>
    </a>
    <ul class="flex gap-x-4 h-10 items-center justify-center">
        <li><a href="#experiencia" aria-label="experiencia" class="hover:underline">Experiencia</a></li>
        <li><a href="#proyectos" aria-label="proyectos" class="hover:underline">Proyectos</a></li>
        <li><a href="#estudios" aria-label="estudios" class="hover:underline">Habilidades</a></li>
        <li><a href="#about" aria-label="sobre mí" class="hover:underline">Sobre mí</a></li>
    </ul>
</nav>